/Resources/symbols/
/Land Unit - Hostile Border Control Command And Control Platoon or Detachment  (10061000141100000508).svg
/Sea Surface - Friendly Electronic Warfare Destroyer  (10033000001202030500).svg
/venv/
/Examples/
/military_symbol/symbols.json
